<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% block styles %}
		<!-- Project styles -->
		<link rel="stylesheet" href="{{ STATIC_URL }}project/css/project.css">
	{% endblock styles %}
	{% block extra_styles %}
		<!-- Extra styles -->
	{% endblock extra_styles %}
    <title>
		{% block title %}
			<!-- Page title -->
		{% endblock title %}
    </title>
</head>
<body>
    <header>
        {% block header %}
    		<!-- Page header -->
        {% endblock header %}
    </header>
	{% block content %}
		<!-- Page content -->
	{% endblock content %}
	<footer>
		{% block footer %}
			<!-- Page footer -->
		{% endblock footer %}
	</footer>
	{% block scripts %}
		<!-- Project scripts -->
		<script type="text/javascript" src="{{ STATIC_URL }}project/js/project.js"></script>
	{% endblock scripts %}

	{% block extra_scripts %}
		<!-- Extra scripts -->
	{% endblock extra_scripts %}
</body>
</html>